name: "CI_quelpoke"
on:
  push:
    branches:
    - main

env:
  PROJECT_ID: cs-poc-hpzdycpiqjyvinhrczvlwcn
  APP_NAME: quelpoke
  REGION: europe-west9
  REGISTRY: student-theol
  KUBERNETES_CLUSTER: gke-maalsi24-infal127

jobs:
  ci-cd-build-push-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: "Create and export REGISTRY_DOMAIN variable"
        run: echo "REGISTRY_DOMAIN=${REGION}-docker.pkg.dev" >> $GITHUB_ENV
      - name: "Create and export IMAGE_NAME variable"
        run: echo "IMAGE_NAME=${REGISTRY_DOMAIN}/${PROJECT_ID}/${REGISTRY}/${APP_NAME}:latest" >> $GITHUB_ENV
      
      - uses: actions/checkout@v4

      - name: "Authenticate to Google Cloud"
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.SERVICE_ACCOUNT_KEY}}'
      
      - name: "Authenticate to GOogle Cloud Artifacts Registry"
        run: gcloud --quiet auth configure-docker ${REGION}-docker.pkg.dev

      - name: "Build docker image"
        run: docker build --tag=${IMAGE_NAME} .

      - name: "Push docker image"
        run: docker push ${IMAGE_NAME}

      - name: "Authenticate to Google Cloud Kubernetes Engine"
        run: gcloud container clusters get-credentials ${KUBERNETES_CLUSTER} --region ${REGION} --project ${PROJECT_ID}

      - name: "Set up GKE auth Plugin"
        run: gcloud components install gke-gcloud-auth-plugin

      - name: "Deploy to kubernetes"
        run: kubectl apply -f kubernetes/manifest.yml